<div class="jumbotron center">
<h1>My First Rails Project</h1>
<p>Welcome!</p>
<button type="button" class="btn btn-default">Log in</button>
<button type="button" class="btn btn-primary">Sign up</button>
</div>